from settings import *

DEBUG = True
TEMPLATES[0]['OPTIONS']['debug'] = True

SECRET_KEY = 'just_work'

ALLOWED_HOSTS = ["*"]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

MEDIA_ROOT = os.path.join(BASE_DIR, 'media')


LOGGING['loggers']['django.db.backends'] = {
    'level': "DEBUG",
    'propagate': True,
}
LOGGING['loggers']['']['level'] = "DEBUG"
