*.py[cod]
*.pyc
__pycache__
*.log
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
*.pot
.idea
*~
*.swp
*.swo
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.vagrant
/.cache
*.TODO
node_modules/
.sass-cache
settings_local.py
*.sqlite
*.sqlite3
.heroku
